EXPO_PUBLIC_OPEN_METEO_API_URL=https://api.open-meteo.com/v1
EXPO_PUBLIC_GEOCODING_API_URL=https://geocoding-api.open-meteo.com/v1/search

EXPO_PUBLIC_EXPO_PUSH_ENDPOINT=https://exp.host/--/api/v2/push/send
